<div class="blu">
Nome:<input type = "text" #nome><br>
Cognome:<input type = "text" #cognome> <br>
Indirizzo:<input type = "text" #indirizzo> <br>
Telefono:<input type = "text" #telefono> <br>
Email:<input type = "text" #email>  <br>
Data Prenotazione:<input type = "text" #data> <br>
Ora Prenotazione:<input type = "text" #ora>  <br>
</div>
<button class="verde" (click)="salva(data.value, ora.value, nome.value, cognome.value, indirizzo.value, telefono.value, email.value)" >salva</button> 
<br>

@for (salv of vettSalva; track salv)
{
  <app-lista-prenotazioni [pren]="salv"></app-lista-prenotazioni>
}